{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Camions
{% endblock %}


{% block content %}

    <div class="row mt-3">
        <div class="col-xl-12 flex justify-content">
            <div class="card custom-card">
                <div class="card-header justify-content-between">
                    <div class="card-title">
                        Enregistrer un camion
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        {% if messages %}
                        {% for message in messages %}
                        <p {% if message.tags %} class="bg-{{ message.tags }} p-2 text-white" {% endif %}>
                            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                            {{ message }}
                        </p>
                        {% endfor %}

                        {% endif %}
                        
                        <div class="col-xl-12">
                            <div class="card custom-card">
                                <div class="card-body">
                                    <form action="" method="post"  enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                                                {{ form.radar|as_crispy_field}}
                                            </div>
                                            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                                                {{ form.immatriculation|as_crispy_field}}
                                            </div>
                                        
                                            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                                                {{ form.partenaire|as_crispy_field}}
                                            </div>

                                        </div>
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mt-2 row">
                                            <button type="submit"
                                                class="btn btn-sm bg-primary text-white">Enregistrer</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    {% endblock %}